#kiri li{
    /* float: flex; */
    list-style: none;
    padding: 20px 40px;
    /* border: 1px solid black; */
    float: right;
}
#kanan li{
    list-style: none;
    /* float: flex; */
    padding: 20px 40px;
    /* border: 1px solid black; */
    float: left;
  
}
#header {
    background-color: black;
    color:white;
     height: 60px;
     width: auto;
     align-items: center; 
  }
  #header img{
    width: 25px;
  }

  #circle img{
    border-radius: 900px ;
    width: 200px;
    border:5px solid white;
  }

  #circle{
    display: flex;
    justify-content: center;
    /* padding-top: 10%; */
   position:relative;
   bottom: 160px;
  }

  #ruang-atas{
    background-color:rgb(215, 215, 213);
    color: bisque ;
    height: 300px;
  }

  #isi{
    text-align: center;
    font-size: 30px;
  }

  span{
    color: brown;
  }
  #isi-2{
    text-align: center;
    margin: 20px;
    color: black;
  }
  #isi-3{
    text-align: center;
    margin: 20px;
  }
  #isi-4{
    text-align: center;
    margin: 20px;
  }

  #block{

    display: flex;
    height: 300px;


  }

  #block1{
    /* background-color:thistle; */
    width: 50%;
    height: auto;
    /* margin: 1%; */
    /* position: relative; */
    /* top: 200px; */
  }
  #block2{
    /* background-color: tomato; */
    width: 50%;
    margin: 1%;
  }
#block1 img{
  width: 90%;
  margin: 20px;
  position: relative;
  top: 200px
}
#block2 img{
  width: 90%;
  position: relative;
  left: 70px;
}
#tulisan1{
  position: relative;
  left: 180px;
   width: 80%; 
  font-size: 50px;
  top: 150px;
}

#blockbawah{
  background-color:rgb(124, 158, 159);
  color:rgb(124, 158, 159);
  width: 100%;
  height: 500px;
}

#tulisanA{
/* background-color: chartreuse; */
float: left;
width: 50%;
height: 500px;
display: flex;
align-items: center;
justify-content: center;
text-align: end;
font-size: 100px;
}
#tulisanB{
/* background-color: violet; */
float: right;
width: 50%;
height: 500px;
display: flex;
align-items: center;
justify-content: left;
text-align: left;
}
#tulisanC{
  margin-top: 100px;
  list-style: none;
  /* border: 5px solid gray; */
}
#bagianbawah{
 /* background-color: black; */
 width: 100%; 
 height: 500px;
}


#tombol{
  width: 150px;
  height: 50px;
  background-color: bisque;
}
.angker{
  text-decoration: none;
  color:black
}
#bagianbawah2{
  border:2px solid black;
  width: auto;
  height: 500px;
  text-align: center;
  font-size: 100px;
}