#kiri li{
    /* float: flex; */
    list-style: none;
    /* padding: 20px 40px; */
    /* border: 1px solid black; */
    float: right;
}
#kanan li{
    list-style: none;
    /* float: flex; */
    padding: 15px 50px;
    /* border: 1px solid black; */
    float: left;
    font-size: 20px;
  
}
#header {
    background-color: black;
    color:white;
     height: 50px;
     width: auto;
     align-items: center; 
  }
  #header img{
    width: 25px;
  }

  #circle img{
    border-radius: 900px ;
    width: 200px;
    border:5px solid white;
  }

  #circle{
    display: flex;
    justify-content: center;
    /* padding-top: 10%; */
   position:relative;
   bottom: 160px;
  }

  #ruang-atas{
    background-color:rgb(215, 215, 213);
    color: bisque ;
    height: 300px;
  }

  #isi{
    text-align: center;
    font-size: 30px;
  }

  span{
    color: brown;
  }
  #isi-2{
    text-align: center;
    margin: 20px;
    color: black;
  }
  #isi-3{
    text-align: center;
    margin: 20px;
  }
  #isi-4{
    text-align: center;
    margin: 20px;
  }

  #block{

    display: flex;
    height: 300px;


  }

  #block1{
    /* background-color:thistle; */
    width: 50%;
    height: auto;
    /* margin: 1%; */
    /* position: relative; */
    /* top: 200px; */
  }
  #block2{
    /* background-color: tomato; */
    width: 50%;
    margin: 1%;
  }
#block1 img{
  width: 90%;
  margin: 20px;
  position: relative;
  top: 200px
}
#block2 img{
  width: 90%;
  position: relative;
  left: 70px;
}
#tulisan1{
  position: relative;
  left: 180px;
   width: 80%; 
  font-size: 50px;
  top: 150px;
}

#blockbawah{
  background-color:rgb(124, 158, 159);
  color:rgb(124, 158, 159);
  width: 100%;
  height: 500px;
}

#tulisanA{
/* background-color: chartreuse; */
float: left;
width: 50%;
height: 500px;
display: flex;
align-items: center;
justify-content: center;
text-align: end;
font-size: 100px;
}
#tulisanB{
/* background-color: violet; */
float: right;
width: 50%;
height: 500px;
display: flex;
align-items: center;
justify-content: left;
text-align: left;
}
#tulisanC{
  margin-top: 100px;
  list-style: none;
  /* border: 5px solid gray; */
}
#bagianbawah{
 /* background-color: black; */
 width: 100%; 
 height: 500px;
}


#tombol{
  margin: 20px 0px;
  width: 150px;
  height: 50px;
  background-color: bisque;
  border-radius: 10px; 
  padding: 10px 20px;
}
#tombol3{
  /* margin: 20px 0px; */
  width: 100px;
  height: 50px;
  color: white;
  border-radius: 10px; 
  padding: 10px 20px;
}

.angker{
  text-decoration: none;
  color:black
}
.angker-1{

  text-decoration: none;
  color:black;
}
.tulisan2{
  color: rgb(0, 0, 0);
  
}
#bagianbawah2{
  /* border:2px solid black; */
  width: auto;
  height: 500px;
  text-align: center;
  font-size: 75px;
}
.garis{
  width: 100%;
  height: 10px;
  border: 3px solid black;
  background-color: black;
}

.photo1, .photo2, .photo3, .photo4{
  width: 25%;
  float: left;
  height: 250px;
}

#bagianbawah3{
  margin-top: 53%;
  margin-bottom: 5%;
  align-items: center;
  justify-content: center;
  text-align: center;

}

#tombol-1{
  width: 150px;
  height: 50px;
  background-color: rgb(205, 255, 196);
  border-radius: 50px; /* sets the border radius to half of its width to create an oval shape */
  padding: 10px 20px;
}

#bagianbawah4{
  padding-top: 100px;
  border: 2px solid rgb(248, 155, 155);
  width: auto;
  height: 400px;
  background-color: rgb(248, 155, 155) ;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  

}
#kiri1{
  color: white;
  /* border: 2px solid black; */
  margin: 10px 70px;
  width: 40%;
  height: 300px;
  float: left;
  font-size: 25px;
  position: relative;
  /* left:70px; */
  bottom: 30px;
  display: flex;
 justify-content: space-evenly;
}
#kanan1{
  color: white;
 margin: 10px 70px;
 /* border: 2px solid black; */
 width: 40%;
 height: 300px;
 float: right;
 font-size: 25px;
 position: relative;
 top: 180px;
 display: flex;
 justify-content: space-evenly;
 /* right:70px; */
}
.final{
width: 100%;
height: 500px; 
object-fit: cover;
object-position: 25% 25%;
}



.fa {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
   margin: 5px 2px; 
}

.fa-instagram {
  background: #125688;
  color: white;
  width: auto;
  float: left;
  margin: 10px 15px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  float: left;
  width: auto;
  margin: 10px 15px;
}
.fa-youtube {
  background: #bb0000;
  color: white;
  width: auto;
  float: left;
  margin: 10px 15px;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
  width: auto;
  float: left;
  margin: 10px 15px;
}
.penutup{
  position: relative;
  bottom: 200px;
  width: auto;
  display: flex ;
  justify-content: center;

}

*{
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  min-height: 500px;
}
